<!DOCTYPE html>
<html>
    <head>
        <base target="_top">


    </head>
    <body>
        <div class="container" style="width: 100%;font-family: sans-serif;">
            <div class="header" style="background: #d13619;text-align: center;">
                <img src="https://assets.ysjournal.com/emails/logo-transparent.png" style="margin: 0 auto;">
            </div>
            <p>Dear {{names}}</p>
            <p>An article you have submitted, {{title}}, has been updated.</p>

            <p>An editor will be assigned to your article shortly. They will be in touch
            in the coming weeks to sort out any problems in your submission.</p>

            <a href="{{link}}"
            style="text-decoration: none; color: #d13619; border-bottom: 2px #d13619 solid;">
                {{title}}
            </a>

            <p>Thanks for taking the time to contribute ❤️</p>

            <p><em>This is an automated email and will not be replied to.</em></p>
        </div>
    </body>
</html>

