Dear {{user.name}},
                <br />
                Your one-time PIN is <b>{{pin}}</b>.

                Never reveal your PIN to anyone.

                It will expire in one minute.

                - Submissions Team
